<ion-menu contentId="main-content">
  <ion-header>
  </ion-header>
  <ion-content class="ion-padding">
      <ion-button expand="block" (click)="ingresar()">Iniciar Sesión</ion-button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
        <ion-title style="text-align: right;">Discoverify</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-card *ngFor="let album of albums" [@fadeIn] class="ion-margin-auto ion-text-center">
        <img [src]="album.cover" class="album-cover" />
        <ion-card-header>
          <ion-card-title>{{ album.title }}</ion-card-title>
          <ion-card-subtitle>{{ album.artist }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Género: {{ album.genre }}</p>
          <p>Lanzamiento: {{ album.releaseDate }}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más álbumes...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</div>