<ion-app>
  <ion-split-pane contentId="main-content">
    <!-- Menú lateral -->
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list>
          <ion-list-header>Discoverify</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/" routerDirection="root">
              <ion-icon slot="start" name="home-outline"></ion-icon>
              <ion-label>Inicio</ion-label>
            </ion-item>
            <ion-item routerLink="/contribute" routerDirection="root">
              <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
              <ion-label>Realizar aporte</ion-label>
            </ion-item>
            <ion-item *ngIf="!isAuthenticated" routerLink="/login" routerDirection="root">
              <ion-icon slot="start" name="log-in-outline"></ion-icon>
              <ion-label>Iniciar sesión</ion-label>
            </ion-item>
            <ion-item *ngIf="!isAuthenticated" routerLink="/register" routerDirection="root">
              <ion-icon slot="start" name="person-add-outline"></ion-icon>
              <ion-label>Registrarse</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- Scroll de álbumes (Contenido principal) -->
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar color="dark">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Discoverify</ion-title>
          <ion-buttons slot="end">
            <ion-label *ngIf="isAuthenticated">{{ nombreUsuario }}</ion-label>
            <ion-button *ngIf="isAuthenticated" (click)="logout()">Cerrar sesión</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding" color="dark">
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="8" offset-md="2">
              <ion-card *ngFor="let album of albums" color="medium">
                <img [src]="album.cover" [alt]="album.title + ' - ' + album.artist" class="album-cover" />
                <ion-card-header>
                  <ion-card-title>{{ album.artist }} - {{ album.title }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>Fecha de lanzamiento: {{ album.releaseDate }}</p>
                  <p>Género: {{ album.genre }}</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!-- Infinite scroll to load more albums -->
        <ion-infinite-scroll (ionInfinite)="loadMore($event)">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más álbumes...">
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>
    </div>
  </ion-split-pane>
</ion-app>