ion-content {
  --background: var(--ion-background-color);
}

ion-card {
  margin: 10px 0;
  background-color: #1f1f1f;
  border-radius: 0;
  box-shadow: none;
  overflow: hidden;
}

.album-cover {
  width: 100%;
  height: auto;
  display: block;
}

ion-card-header {
  padding: 10px;
}

ion-card-title {
  font-size: 1rem;
  font-weight: 600;
  color: var(--ion-text-color);
}

ion-card-content {
  padding: 0 10px 10px;

  p {
    color: #b0b0b0;
    margin: 5px 0;
    font-size: 0.8rem;
  }
}

ion-menu {
  --background: #1f1f1f;
  --width: 250px;

  ion-toolbar {
    --background: var(--ion-toolbar-background);
    --color: var(--ion-toolbar-color);
  }

  ion-content {
    --padding-top: 0;
    --padding-bottom: 0;
  }

  ion-list {
    background-color: transparent;
    padding: 0;
  }

  ion-list-header {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 20px 15px;
    color: var(--ion-text-color);
    background-color: var(--ion-color-primary);
  }

  ion-item {
    --background: transparent;
    --color: var(--ion-text-color);
    --padding-start: 15px;
    --padding-end: 15px;
    --min-height: 45px;

    &:hover {
      --background: rgba(255, 255, 255, 0.05);
    }
  }

  ion-icon {
    color: var(--ion-color-secondary);
    margin-right: 15px;
  }
}

.username-item {
  position: absolute;
  bottom: 0;
  width: 100%;
  --background: #1a1a1a;
  --color: var(--ion-text-color);
  --padding-top: 10px;
  --padding-bottom: 10px;
  font-size: 0.8rem;
}

ion-infinite-scroll-content {
  color: var(--ion-color-secondary);
}

.like-dislike-buttons {
  display: flex;
  justify-content: flex-end;

  ion-icon {
    font-size: 1.5rem;
    margin-left: 10px;
    color: var(--ion-color-secondary);
    cursor: pointer;
  }

}

.like-dislike-buttons ion-icon {
  font-size: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
  color: var(--ion-color-medium); // Color neutro por defecto
}

.like-dislike-buttons ion-icon[color="success"] {
  color: var(--ion-color-success); // Verde cuando es "liked"
}

.like-dislike-buttons ion-icon[color="danger"] {
  color: var(--ion-color-danger); // Rojo cuando es "disliked"
}


@media (min-width: 576px) {
  ion-card {
    margin: 10px;
  }
}