<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div class="form-container">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Registro</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form (submit)="registrar()">
          <!-- Nombre de usuario -->
          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input
              type="email"
              [(ngModel)]="formData.email"
              name="email"
              required
            ></ion-input> 
          </ion-item>
          <ion-text color="danger" *ngIf="campoCorreo">{{ campoCorreo }}</ion-text>

          <!-- Contraseña -->
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input
              [type]="showPassword ? 'text' : 'password'" 
              [(ngModel)]="formData.password"
              name="password"
              required
            ></ion-input> 
            <ion-icon
              slot="end"
              [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
              (click)="toggleShowPassword()"
            ></ion-icon>
          </ion-item> 
          <ion-text color="danger" *ngIf="campoContrasenna">{{ campoContrasenna }}</ion-text> 

          <!-- Botón de registro -->
          <ion-button
            expand="block"
            type="submit"
            class="ion-margin-top"
            color="primary"
          >
            Registrarse
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
