<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center">
    <ion-card [@slideInAnimation]>
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          <h1 [@pulseAnimation]>Registro</h1>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="registrar()" #registerForm="ngForm">
          <ion-item [@slideInAnimation] class="ion-margin-bottom">
            <ion-label position="floating">Nombre de Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="formData.nombreUsuario" name="nombreUsuario" required
              #usernameInput="ngModel"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)">
            <p [@shakeAnimation]>El nombre de usuario es requerido.</p>
          </ion-text>

          <ion-item [@slideInAnimation] class="ion-margin-bottom">
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input type="email" [(ngModel)]="formData.email" name="email" required
              #emailInput="ngModel"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
            <p [@shakeAnimation]>Por favor, ingrese un correo válido.</p>
          </ion-text>

          <ion-item [@slideInAnimation] class="ion-margin-bottom">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="formData.password" name="password"
              required #passwordInput="ngModel"></ion-input>
            <ion-icon slot="end" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
              (click)="toggleShowPassword()" class="password-toggle"></ion-icon>
          </ion-item>
          <ion-text color="danger" *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
            <p [@shakeAnimation]>La contraseña es requerida.</p>
          </ion-text>

          <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="!registerForm.form.valid"
            [@pulseAnimation]>
            Registrarse
            <ion-icon name="person-add-outline" slot="end"></ion-icon>
          </ion-button>
        </form>

        <div class="additional-options ion-margin-top" [@fadeInAnimation]>
          <ion-button fill="clear" size="small" [routerLink]="['/login']">
            ¿Ya tienes cuenta? Inicia sesión
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


