<ion-header>
  <ion-toolbar>
    <ion-title>Subir Álbum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitForm()" #albumForm="ngForm">
    <ion-item>
      <ion-label position="floating">Título del Álbum</ion-label>
      <ion-input type="text" required [(ngModel)]="album.title" name="title"></ion-input> <!-- Campo para el título del álbum -->
    </ion-item>
    <ion-item>
      <ion-label position="floating">Artista</ion-label> 
      <ion-input type="text" required [(ngModel)]="album.artist" name="artist"></ion-input> <!-- Campo para el nombre del artista -->
    </ion-item>
    <ion-item>
      <ion-label position="floating">Fecha de Lanzamiento</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="album.releaseDate" name="releaseDate"></ion-datetime> <!-- Campo para la fecha de lanzamiento del álbum -->
    </ion-item>
    <ion-item>
      <ion-label position="floating">Género</ion-label>
      <ion-input type="text" required [(ngModel)]="album.genre" name="genre"></ion-input> <!-- Campo para el género del álbum -->
    </ion-item>

    <!-- Botón para enviar el formulario -->
    <ion-button expand="block" type="submit">Subir Álbum</ion-button>
  </form>
</ion-content>