<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reestablece tu Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card-content>
  <ion-grid class="wrapper" style="max-width: 400px; margin: auto;">
    <!-- Texto  Reestablecer Contraseña-->
    <ion-row>
      <h1 style="text-align: center; flex-wrap: nowrap;">
        ¿Olvidaste tu Contraseña?
      </h1>
    </ion-row>
    
    <ion-row>
      <h3 tyle="text-align: center; flex-wrap: nowrap;">
        Ingresa tu correo y te diremos como Reestablecerla!
      </h3>
    </ion-row>
    <!-- Fin Texto Reestablecer Contraseña-->
    <!-- Formulario de Reestablecer Contraseña -->
    <form (ngSubmit)="ingresar()">
      <ion-row style="flex-wrap: nowrap;">
        <ion-col style="width: 100%;">
          <!-- Input para el correo -->
          <ion-input label="Correo DuocUC" label-placement="floating" fill="outline" placeholder="Ingresa tu correo" type="email" [(ngModel)]="login.email" name="email" required></ion-input>
        </ion-col>
      </ion-row>
      <!-- Fin Inputs -->

      <!-- Inicio de botones -->

      <ion-row style="flex-wrap: nowrap;">
        <ion-col style="width: 100%;">
          <ion-button type="submit" class="botonLogin" expand="block" style="width: 100%;">Ingresar Correo</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button [routerLink]="['/login']" expand="block" class="botonOlvidar" fill="outline">Volver</ion-button>
        </ion-col>
      </ion-row>
      <!-- Fin botones -->
    </form>

    <ion-row style="flex-wrap: nowrap;">
      <ion-col style="text-align: center;"></ion-col>
    </ion-row>
  </ion-grid>
</ion-card-content>
</ion-content>
