
ion-content {
  --background: #eeeeee; /* Fondo Duoc UC */
}

.login-card {
  max-width: 400px;
  margin: auto;
    margin-top: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-img {
  width: 100px;
  height: 100px;
  margin: 0 auto 1rem;
}

.ion-input {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 1rem;
  margin-top: 5px;
}

.ion-card-title{
  font-family: 'Lato', serif;
  font-size: x-large;
}

.ion-button {
  margin-top: 1rem;
}

.botonLogin {
  --background: #FFB800;
  --color: #1A1A1A;
}

.botonOlvidar {
  --background: #D50032;
  --color: #FFFFFF;
}
