<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Inicio card -->
  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Bienvenido/a a RegistrAPP</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="wrapper">
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-img
              src="../../assets/logo.jpg"
              alt="Logo"
            ></ion-img>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input label="Ingrese su email:" 
              type="email" 
              placeholder="ju.perezl@duocuc.cl"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Ingrese su contraseña" 
              type="password" 
              placeholder=""></ion-input>
            </ion-item>   
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button [routerLink]="['/home']" class="botonLogin" expand="block" (click)="showToast()">Ingresar</ion-button>
            <ion-button [routerLink]="['/registro']" class="botonOlvidar" expand="block">Olvidé mi contraseña</ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button color="FFFFFF" fill="clear" [routerLink]="['/ayuda']">
              ¿Necesitas ayuda?
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>


