<ion-content [fullscreen]="true" class="ion-padding">
  <div class="reset-container">
    <ion-card class="reset-card ion-padding" [@fadeInAnimation]>
      <ion-card-header>
        <ion-card-title class="ion-text-center">
          <h1 [@pulseAnimation]>Restablecer Contraseña</h1>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
          <ion-item [@slideInAnimation] class="ion-margin-bottom">
            <ion-label position="floating">Contraseña Actual</ion-label>
            <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="formData.oldPassword" name="oldPassword"
              required #oldPasswordInput="ngModel"></ion-input>
            <ion-icon slot="end" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
              (click)="toggleShowPassword()" class="password-toggle"></ion-icon>
          </ion-item>
          <ion-text color="danger"
            *ngIf="oldPasswordInput.invalid && (oldPasswordInput.dirty || oldPasswordInput.touched)">
            <p [@shakeAnimation]>La contraseña actual es requerida.</p>
          </ion-text>

          <ion-item [@slideInAnimation] class="ion-margin-bottom">
            <ion-label position="floating">Nueva Contraseña</ion-label>
            <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="formData.newPassword" name="newPassword"
              required #newPasswordInput="ngModel"></ion-input>
            <ion-icon slot="end" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
              (click)="toggleShowPassword()" class="password-toggle"></ion-icon>
          </ion-item>
          <ion-text color="danger"
            *ngIf="newPasswordInput.invalid && (newPasswordInput.dirty || newPasswordInput.touched)">
            <p [@shakeAnimation]>La nueva contraseña es requerida.</p>
          </ion-text>

          <ion-item [@slideInAnimation] class="ion-margin-bottom">
            <ion-label position="floating">Confirmar Nueva Contraseña</ion-label>
            <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="formData.confirmPassword"
              name="confirmPassword" required #confirmPasswordInput="ngModel"></ion-input>
            <ion-icon slot="end" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
              (click)="toggleShowPassword()" class="password-toggle"></ion-icon>
          </ion-item>
          <ion-text color="danger"
            *ngIf="confirmPasswordInput.invalid && (confirmPasswordInput.dirty || confirmPasswordInput.touched)">
            <p [@shakeAnimation]>Debe confirmar la nueva contraseña.</p>
          </ion-text>

          <ion-button type="submit" expand="block" [disabled]="!resetForm.form.valid" class="ion-margin-top"
            [@pulseAnimation]>
            Restablecer Contraseña
            <ion-icon name="lock-open-outline" slot="end"></ion-icon>
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>