<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bienvenido/a a RegistrAPP</strong>
    <ion-button [routerLink]="['/login']" expand="block" color="primary">Retroceder</ion-button> <!-- Botón con routerLink para la vista home (al presionar "Ingresar")-->

  </div>
</ion-content>
