ion-content {
  --background: #00183C; 
}

.login-card {
  max-width: 400px;
  margin: auto;
  margin-top: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --background: rgba(112, 112, 112, 0.566);
}

/* Ajustar el tamaño de la imagen en pantallas más pequeñas */
ion-img {
  width: 100px;
  height: 100px;
  margin: 0 auto 1rem;
}

.ion-input {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 1rem;
  margin-top: 5px;
}

.ion-card-title {
  font-family: 'Lato', serif;
  font-size: x-large;
}

.ion-button {
  margin-top: 1rem;
}

.botonLogin {
  --background: #FFB800;
  --color: #1A1A1A;
}

.botonOlvidar {
  --background: #D50032;
  --color: #FFFFFF;
}

.welcome-message {
  font-family: 'Lato', serif;
  font-size: 1.1rem;
  color: #1A1A1A;
  margin-bottom: 1.5rem;
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 600px) {
  .login-card {
    max-width: 90%; /* Ocupa el 90% de la pantalla en dispositivos pequeños */
  }
  ion-img {
    width: 80px; /* Imagen más pequeña para pantallas pequeñas */
    height: 80px;
  }
  .ion-card-title {
    font-size: large; /* Texto un poco más pequeño en pantallas pequeñas */
  }
  .welcome-message {
    font-size: 1rem; /* Ajustar el tamaño de fuente en pantallas pequeñas */
  }
}

/* Media Queries para pantallas más grandes */
@media (min-width: 601px) {
  .login-card {
    max-width: 400px; /* Limitar el ancho en pantallas más grandes */
  }
}
