# Ignorar node_modules y archivos de dependencias
node_modules/

# Ignorar carpetas de caché de Angular y Webpack
.angular/
.angular/cache/
**/angular-webpack/
**/babel-webpack/

# Ignorar la carpeta de distribución de producción de Ionic/Capacitor
www/
build/
dist/

# Ignorar archivos de configuración del entorno local
*.env
*.local

# Ignorar logs de depuración
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar otros archivos de salida temporal o compilados
out/
tmp/
coverage/

# Ignorar archivos de configuración de VSCode
.vscode/

# Ignorar archivos específicos de Ionic y Capacitor si generas builds nativas
android/
ios/

# Ignorar cualquier archivo de backup o swap
*.swp
*.bak
*.tmp
*.log
