# IDEs and editors
.idea/
.vscode/

# Logs and Debug
*.log
log.txt
npm-debug.log
yarn-error.log

# Node.js
/node_modules/

# Ionic
/.ionic
/www
/platforms/
plugins/

# Android/Gradle
/android/.gradle
/android/app/build/
.android/.idea/
/android/local.properties

# Output compilado
/dist
/out/
.build/
/tmp/
/build/
/out-tsc
/.angular/cache

# Miscellaneous
/sourcemaps
.versions
.DS_Store
Thumbs.db
.sass-cache/
/nx/cache
libpeerconnection.log
testem.log

# Sistema
$RECYCLE.BIN/
UserInterfaceState.xcuserstate

# Archivos temporales y backup
*~
*.sw[mnpcod]
*.tmp
*.tmp.*
