<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <!-- Fade In -->
  <ion-card-header [@fadeIn]></ion-card-header>

  <ion-card-content [@fadeIn]>
    <ion-grid class="wrapper" style="max-width: 400px; margin: auto;">
      <ion-row style="flex-wrap: nowrap;">
        <ion-col style="text-align: center;">
          <ion-img src="../../assets/logo-duoc.svg" alt="Logo" style="width: 300px; height: 300px;" [@fadeIn]></ion-img>
        </ion-col>
      </ion-row>
      
      <form (ngSubmit)="ingresar()">
        <ion-row style="flex-wrap: nowrap;">
          <ion-col style="width: 100%;">
            <ion-input label="Correo" label-placement="floating" fill="outline" placeholder="Ingresa tu correo" type="email"
              [(ngModel)]="login.email" name="email" required [@slideIn]></ion-input>
            <br />
            <ion-input label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingresa tu contraseña"
              type="password" [(ngModel)]="login.contrasenna" name="contrasenna" required [@slideIn]></ion-input>
          </ion-col>
        </ion-row>

        <ion-row style="flex-wrap: nowrap;">
          <ion-col style="width: 100%;">
            <ion-button type="submit" class="botonLogin" expand="block" style="width: 100%;" [@fadeIn]>Ingresar</ion-button>
            <ion-button [routerLink]="['/resetpass']" class="botonOlvidar" expand="block" style="width: 100%;" [@fadeIn]>
              Olvidé mi contraseña
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </ion-card-content>
</ion-content>
