
ion-content {
  --background: #00183C; 
}


ion-img {
  width: 100px;
  height: 100px;
  margin: 0 auto 1rem;
}

.ion-input {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 1rem;
  margin-top: 5px;
}
.texto{
  font-family: 'Lato', serif;
  font-size: large;
  
}
.ion-card-title{
  font-family: 'Lato', serif;
  font-size: x-large;
}

.ion-button {
  margin-top: 1rem;
}

.botonLogin {
  --background: #FFB800;
  --color: #1A1A1A;
}


.botonOlvidar {
  --background: #D50032;
  --color: #FFFFFF;
}
