<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-list lines="inset">
      <ion-item>
        <ion-label>❌ Martes 03/09/24</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>✅ Lunes 02/09/24</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>✅ Viernes 30/08/24</ion-label>
      </ion-item>
    </ion-list>
</ion-card>
</ion-content>