.card-content {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.logo-row {
    flex-wrap: nowrap;
}

.logo-col {
    text-align: center;
}

.logo-img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.title {
    text-align: center;
    flex-wrap: nowrap;
}

@media (max-width: 600px) {
    .wrapper {
        padding: 0 20px;
    }

    .logo-img {
        max-width: 200px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .wrapper {
        padding: 0 40px;
    }

    .logo-img {
        max-width: 250px;
    }
}